﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @DateTime.Now.Year </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        function LoadingHide()
        {
            $("#loadingGif").css("display", "none");
        }
        function LoadingShow() {
            $("#loadingGif").css("display", "");
        }
    </script>
</head>
<body>
@Html.Partial("~/Views/Shared/_LoadingWait.cshtml")
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="~//Pictures/movie.png" alt="Movie Catalog" style="height: 125%;"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Домашняя страница", "Index", "Movies")</li>
                <li>@Html.ActionLink("Информация", "About", "Movies")</li>
                <li>@Html.ActionLink("Связаться", "Contact", "Movies")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - каталог фильмов (ASP.NET)</p>
    </footer>
</div>

@RenderSection("scripts", required: false)
</body>
</html>
