﻿<div id="loadingGif" style="top: 50%; left: 50%; width: 50px; height: 50px; position: fixed; margin-top: -25px;	margin-left: -25px; padding:0px; z-index:99999999; display:none;">
    <img src="~/Pictures/loading.gif" />
</div>
