﻿@model Moviecatalog.Models.Movies
@{
    ViewBag.Title = "Каталог фильмов";
}

<h2>Добавить фильм</h2>

@using (Html.BeginForm("Create", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, 7,1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yearRelease, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yearRelease, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.yearRelease, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.director, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.director, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.director, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.poster, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="uploadImage" name="uploadImage" onchange="ImagePreview(this)" />
                &nbsp;<br />
                <div id="uploadImageShow" , name="uploadImageShow"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-primary selected" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад в каталог", "Index")
</div>

<script>
    function ImagePreview(input) {
        if (input.files && input.files[0]) {

            $('#uploadImageShow').empty(); 
            var items = "<img id='uploadImageShowVal' name='uploadImageShowVal' style='width:320px; height:240px;' src=\"#\" />";
            $('#uploadImageShow').append(items);

            var reader = new FileReader();

            reader.onload = function (e) {
                $('#uploadImageShowVal').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    };
</script>

