﻿@using Moviecatalog.ViewModels.MovieViewModel
@model Moviecatalog.Models.Movies
@{
    ViewBag.Title = "Каталог фильмов";
}

<div>
    <h2>Хотите удалить фильм?</h2>
    <hr />

    &nbsp;<br />
    <div>
        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.title, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    &nbsp;<br />
    <div>
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.description, 7,1, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    &nbsp;<br />
    <div>
        @Html.LabelFor(model => model.yearRelease, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.yearRelease, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    &nbsp;<br />
    <div class="form-group">
        @Html.LabelFor(model => model.director, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.director, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    &nbsp;<br />
    <div class="form-group">
        @Html.LabelFor(model => model.poster, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PosterHelper(Model.poster)
        </div>
    </div>
</div>
&nbsp;
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Удалить" class="btn btn-primary selected" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад в каталог", "Index")
</div>

