﻿@model Moviecatalog.ViewModels.MovieViewModel.MoviesViewModel
@using Microsoft.AspNet.Identity
@using Moviecatalog.ViewModels.MovieViewModel

@{
    ViewBag.Title = "Каталог фильмов";
}

<h2>Каталог фильмов</h2>

<div class="tablica">
    <table width="100%">
        <tr align="left" valign="middle">
            <td>
                <div>&nbsp</div>
                <div class="btn-group, ">
                    @Html.GetPageLinks(Model.pageInfo, x => Url.Action("Index", new { page = x }), User.Identity.IsAuthenticated, true)
                    Сортировать:
                    <select id="sortSelect">
                        <option value="1">По названию (по возрастанию)</option>
                        <option value="2">По названию (по убыванию)</option>
                        <option value="3">По году выпуска (по возрастанию)</option>
                        <option value="4">По году выпуска (по убыванию)</option>
                    </select>
                </div>
                <div>&nbsp</div>
            </td>
            <td> </td>
        </tr>

        <tr align="left" valign="middle">
            <td>
                <div class="container-fluid" style="padding-left:10px">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 ava-gray">Название</div>
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1 ava-gray">Постер</div>
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-4 ava-gray">Описание</div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 ava-gray">Год выпуска</div>
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1 ava-gray">Режиссер</div>
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1 ava-gray">Добавил</div>
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1 ava-gray">Инструмент</div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>


        <tr align="left" valign="middle">
            <td>
                <div class="container-fluid" style="padding-left:10px">
                    <div class="row">

                        @foreach (var item in Model.moviesView)
                        {
                            @Html.RowHelper(item, User.Identity.IsAuthenticated, User.Identity.GetUserId());
                        }

                    </div>
                </div>

            </td>
            <td class="drow"></td>
        </tr>

        <tr align="left" valign="middle">
            <td>
                <div>&nbsp</div>
                <div class="btn-group, ">
                    @Html.GetPageLinks(Model.pageInfo, x => Url.Action("Index", new { page = x }), User.Identity.IsAuthenticated, false)
                </div>
                <div>&nbsp</div>
            </td>
            <td> </td>
        </tr>
    </table>
</div>

<div id="dialog1" title="" style="display:none">
    <form action="/Movies/Index" enctype="multipart/form-data" method="post" name="myform1" id="myform1">
        @Html.Hidden("sort")

    </form>
</div>


<script>
    $( document ).ready(function() {
        $("#sortSelect").selectmenu();
        $("#sortSelect").on("selectmenuchange", function(event, ui) { Sort(event, ui) });
        $('#sortSelect').val('@ViewBag.sort');
        $("#sortSelect").selectmenu("refresh");
    });

    function Sort(event, ui)
    {
        $('#sort').val(ui.item.value);
        LoadingShow();
        document.myform1.submit();
    }
</script>
<style>
    .ava {
        /*float: left;*/
        /* width: 20em;
    height: 15em; */
        font-size: small;
        /* color: white; */
        /* background-color: #337ab7; */
        /*font-face:Arial;*/
        border-radius: 12px 12px 12px 12px;
        -moz-border-radius: 12px 12px 12px 12px;
        margin: 5px;
        padding: 10px; /* внутренние отступы(верх, право, низ, лево) */
        box-shadow: 0px 0px 1px 1px #bbb; /* смещение по горизонтали, смещение по вертикали, размытие, увеличение и цвет */
    }

    .ava-img {
        /*float: left;*/
        /* width: 20em;
    height: 15em; */
        font-size: small;
        /* color: white; */
        /* background-color: #337ab7; */
        /*font-face:Arial;*/
        border-radius: 12px 12px 12px 12px;
        -moz-border-radius: 12px 12px 12px 12px;
        margin: 5px;
        padding: 1px; /* внутренние отступы(верх, право, низ, лево) */
        box-shadow: 0px 0px 1px 1px #bbb; /* смещение по горизонтали, смещение по вертикали, размытие, увеличение и цвет */
        text-align: center;
    }

    .ava-gray {
        /*float: left;*/
        /* width: 20em;
    height: 15em; */
        font-size: small;
        color: #333333;
        background-color: #ebebeb; /*#337ab7;*/
        /*font-face:Arial;*/
        border-radius: 12px 12px 12px 12px;
        -moz-border-radius: 12px 12px 12px 12px;
        margin: 5px; /* внешние отступы(верх, право, низ, лево) */
        padding: 10px; /* внутренние отступы(верх, право, низ, лево) */
        box-shadow: 0px 1px 1px 1px #bbb; /* смещение по горизонтали, смещение по вертикали, размытие, увеличение и цвет */
        /*text-align: center; */
    }

    .img-rounded {
        border-radius: 12px;
    }

    .img-icon {
        max-width: 25%;
        margin: 2px; /* внешние отступы(верх, право, низ, лево) */
        display: inline-block;
    }

    .modal-dialog {
        width: 90%;
        height: auto;
    }

    .modal-body {
        position: relative;
        padding: 10px;
    }
</style>